<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>OpenTransact {{page.title}}</title>
    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <script src="javascripts/modernizr-1.1.min.js"></script>
  </head>
  <body>
    <div id='container'>
      <header>
        <nav>
          <ul>
            <li class="first"><a href="/">Home</a></li>
            <li><a href="/usecases.html">Use cases</a></li>
            <li><a href="/core.html">Spec</a></li>
            <li><a href="/videos.html">Videos</a></li>
            <li>
              <a href="http://wiki.github.com/opentransact/opentransact/asset-provider-list">Providers</a>
            </li>
          </ul>
        </nav>
        <div id="logo">
          <a href="/"><img src="/images/logo.png"/> OpenTransact</a>
        </div>
      </header>
      <div id='content'>
        {{content}}
      </div>
      <footer>
        <nav>
          <ul>
            <li class="first">
              <a href='http://github.com/opentransact'>GitHub Code</a>
            </li>
            <li>
              <a href='http://groups.google.com/group/agile-banking'>Google Group</a>
            </li>
            <li>
              <a href='http://wiki.github.com/opentransact/opentransact'>Wiki</a>
            </li>
                      
          </ul>
        </nav>
        
        <p> &copy; 2009 Pelle Braendgaard, <a href="http://stakeventures.com">Stake Ventures
        Inc.</a> and other contributors. Released under MIT License </p> 
      </footer>
    </div>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-256448-12");
    pageTracker._trackPageview();
    } catch(err) {}</script>
  </body>

</html>
